@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --background-dark: rgb(0, 0, 0);
    --background-light: white;
    --text-dark: white;
    --text-light: black;
    --button-background-dark: rgba(48, 47, 47, 0.986);
    --button-background-light: rgb(48, 47, 47);
    --highlight-color: rgb(16, 231, 231);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s; /* Add transition properties */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-dark);
    color: var(--text-dark);
    transition: background-color 0.5s; /* Add transition property */
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    border: 5px solid grey;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--background-dark);
    transition: background-color 0.5s; /* Add transition property */
}

.keypad {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    height: 70px;
    background-color: var(--background-dark);
    color: var(--text-dark);
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

button {
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-background-dark);
    color: var(--text-dark);
    font-weight: 500;
    font-size: 18px;
}

button#clear {
    grid-column: span 2;
}

button#result {
    grid-column: span 2;
}

button:focus,
button:active {
    outline: none;
}

.highlight {
    background-color: var(--highlight-color);
}

.theme-switch-container {
    position: absolute;
    top: 1px;
    right: 320px;
}

.theme-switch {
    background-color: transparent;
    border: none;
    color: var(--text-dark);
    font-size: 16px;
    cursor: pointer;
}

.light {
    --background-dark: white;
    --text-dark: black;
    --button-background-dark: rgb(48, 47, 47);
}

.dark {
    --background-light: rgba(0, 0, 0, 0.8);
    --text-light: white;
    --button-background-light: rgba(48, 47, 47, 0.986);
}
.theme-switch-icon {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    object-fit: contain; /* Adjust the object-fit property as needed */
  }
